<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
</head>
<body>
    <div class="cap-links">
        <a href="{{ url_for('index') }}">Домашняя страница</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form class="login-form" action="{{ url_for('login') }}" method="post">
        {{ login_form.hidden_tag() }}
        {{ login_form.login(placeholder_="Логин") }}<br>
        {{ login_form.password(placeholder_="Пароль") }}<br>
        {{ login_form.submit() }}<br>
    </form>
</body>
</html>